name: Java CI with Maven

on:
  
 push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: SonarQube Scanner Action
  
      uses: philips-software/sonar-scanner-action@v1.3.0
      with:
    # Sonar Project name
        projectName: ashleshs
    # Sonar Project Key
        projectKey: ashleshs
    # Project Base Directory
        
    # Sonar Login Token
        token: 9acf88f367bdb85bc72c2e370f9a885a929cf49e
    # Sonar Server url
        url: http://3.216.9.117:9000/
    
    
    
    - name: Build with Maven
      run: mvn -B install --file pom.xml -DskipTests
    - name: Build and push
      uses: docker/build-push-action@v1
      with: 
        username: ${{ secrets.username }}
        password: ${{ secrets.password }}
        repository: ashleshshrivastava29/actions
        tags: ${{ github.run_number }}
    
    
